$plugin_green:  green;
$bg_green:      $plugin_green;
$text_green:    $plugin_green;
$border_green:  $plugin_green;

$plugin_red:  red;
$bg_red:      $plugin_red;
$text_red:    $plugin_red;
$border_red:  $plugin_red;

$plugin_white:  white;
$bg_white:      $plugin_white;
$text_white:    $plugin_white;
$border_white:  $plugin_white;

$text_gray:     darken($text_white, 20);
